@font-face {
    font-family: 'segoeuil';
    src: url('FONTER/segoeuil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoeui';
    src: url('FONTER/segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #ecebe8;
    font-size: 20px;
    font-family: segoeuil, "times new roman";
    height: 100%;
}

.page {
    display: none;
}

.header {
    /* generated css */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2e4560 0%, #26374a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#2e4560), color-stop(100%,#26374a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2e4560 0%,#26374a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#2e4560 0%,#26374a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#2e4560 0%,#26374a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#2e4560 0%,#26374a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#26374a',GradientType=0 ); /* IE6-9 */

    text-align: center;
    height: 40px;
    line-height: 40px;
    color: white;
}

#buttongrid {
    padding: 5px;
}

.grid {
    float: left;
    width: 33%;
}

.button {
    text-align: center;
    height: 80px;
    line-height: 80px;
    background: #bdbcba;
    color: #2e4660;
    font-size: 2em;
    margin: 5px;
    text-decoration: none;
    display: block;
}

.active, .button:hover {
    background: #2e4660;
    color: #ffffff;
}

.disabled {
    background: #9A9997;
    color: #ffffff;
}

img {
    padding-top: 15px
}

.footer {
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    color: #2e4660;
}

#voting {
    background: white;
    height: 100%;
}

#voting .title {
    color: #2e4660;
    font-size: 2.5em;
    padding-top: 5%;
    padding-left: 10%;
    border-bottom: 0.1em solid #2e4660;
    width: 60%;
}

#voting .description {
    color: #2e4660;
    font-size: 1.5em;
    margin-top: 3%;
    margin-left: 10%;
    width: 60%;
}

#voting .info {
    position: absolute;
    right: 10%;
    bottom: 30%;
}

#voting .count {
    font-size: 1.5em;
    color: #2e4660;
    margin-bottom: 10%;
}

#voting .button {
    height: 100px;
    line-height: 100px;
    width: 200px;
    background-color: #bdbcba;
    font-family: segoeui;
    font-size: 1.5em;
}

#results {
    background: white;
    height: 100%;
}